<header class="d-flex flex-column flex-md-row pb-3 mb-3 justify-content-center">
  <div>
    <!-- <img id="kyuha-signiture-img" src="{{ site.github.url }}/assets/img/signatures-02.png"> -->
  </div>
  <div>
    <a href="{{ site.github.url }}/" class="d-flex text-decoration-none">
      <span class="font-InterTight-SemiBold-blue" style="font-size: 40pt;">Kyuha Jung</span>
      <h4 class="font-InterTight-SemiBold-blue">&nbsp;🖥 + 🎧</h4>
    </a>
    <!-- <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span>{{ site.description }}</span>
    </a> -->
  </div>
  <!-- <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    {% for item in site.data.settings.menu %}
      <a class="me-3 py-2 text-decoration-none font-Satoshi-Regular" href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav> -->
</header>
