<header class="d-flex flex-column flex-md-row pb-3 mb-2 justify-content-center">
  <div>
    <!-- <img id="kyuha-signiture-img" src="{{ site.github.url }}/assets/img/signatures-02.png"> -->
  </div>
  <div>
    <a href="{{ site.github.url }}/" class="d-flex text-decoration-none">
      <span class="font-InterTight-Bold blue" style="font-size: 24pt;">Kyuha Jung</span>
    </a>
    <!-- <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span>{{ site.description }}</span>
    </a> -->
  </div>
  <nav class="d-inline-flex mt-3 mt-md-10 ms-md-auto">
    {% for item in site.data.settings.menu %}
    <a class="me-3 py-10 text-decoration-none font-InterTight-SemiBold" href="{{ site.github.url }}{{ item.url }}">{{
      item.name }}</a>
    {% endfor %}
  </nav>
</header>