@font-face {
    font-family: 'Switzer-Bold';
    src: url('../fonts/Switzer/Switzer-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Switzer-Regular';
    src: url('../fonts/Switzer/Switzer-Regular.ttf') format('truetype');
}