---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h4 class="font-InterTight-SemiBold pb-2">👀 Virtual Faces</h4>
    <h6 class="font-InterTight-Light fs10 border-bottom pb-3 mb-4">Investigating human perception of virtual character
      faces</h6>

    <div class="row g-5 mb-5">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/update in progress-02.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/update in progress-02.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/update in progress-02.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


      <div class="col-md-1">
        <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Role</h6>
      </div>
      <div class="col-md-11">
        <p class="fs10 font-InterTight-Light lh17 mb-15">Research assistant with Dr. Chaehan So <br> Yonsei University
          <br>Jul 2020 - Dec 2021
        </p>
      </div>

      <div class="col-md-1">
        <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Goal</h6>
      </div>
      <div class="col-md-11">
        <p class="fs10 font-InterTight-Light lh17 mb-15">- Investigating the effects of perceived age and viewing angles
          of
          virtual character faces on trait perceptions (attractiveness, competence, likeability, approachability, and
          credibility)</p>
      </div>

      <div class="col-md-1">
        <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Details</h6>
      </div>
      <div class="col-md-11">
        <p class="fs10 font-InterTight-Light lh17 mb-15">- Led literature review on perception of virtual characters and
          viewing angles
          <br>- Created virtual character stimuli and deployed questionnaires via Amazon MTurk
          <br>- Two journal papers under review
        </p>
      </div>
    </div>
  </div>