---
layout: default
---

<div class="row g-5 mb-5">
  <div>
    <h4 class="font-InterTight-SemiBold pb-2">📘 Research Experiences</h4>
    <h6 class="font-InterTight-Light fs10 border-bottom pb-3"> 🔵 Human-Centered Design, 🟡 Health Informatics, 🟢
      Social Media </h6>
    <div class="row g-5 mb-5">
    </div>

    <div class="row row-cols-2 row-cols-md-3 g-3 mt-5">
      <a href="projects_medref.html" class="text-decoration-none no-color-change">
        <div class="col">
          <div class="card">
            <img src="assets/img/medref_01.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs11 font-InterTight-SemiBold">Medical Referrals 🔵 🟡</h5>
              <p class="card-text fs09 font-InterTight-Light">Supporting clinicians with writing referrals by draft
                generation and clinical summarization of patient medical history</p>
              <p class="card-text fs09 grey font-InterTight-Light">2021 - Present</p>
            </div>
          </div>
        </div>
      </a>

      <a href="/projects_clubhouse.html" class="text-decoration-none no-color-change">
        <div class="col">
          <div class="card">
            <img src="assets/img/clubhouse_01.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs11 font-InterTight-SemiBold">Let’s Talk @Clubhouse 🔵 🟢 </h5>
              <p class="card-text fs09 font-InterTight-Light">Exploring voice-centered social media platform and its
                opportunities, challenges, and design guidelines <br> (CHI '22 LBW)</p>
              <p class="card-text fs09 grey font-InterTight-Light">2021</p>
            </div>
          </div>
        </div>
      </a>

      <a href="/projects_mshopping.html" class="text-decoration-none no-color-change">
        <div class="col">
          <div class="card">
            <img src="assets/img/mshopping_01.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs11 font-InterTight-SemiBold">Mobile Shopping for Older Adults 🔵 </h5>
              <p class="card-text fs09 font-InterTight-Light">Co-designing with older adults to improve their mobile
                shopping experiences</p>
              <p class="card-text fs09 grey font-InterTight-Light">2022</p>
            </div>
          </div>
        </div>
      </a>

      <a href="/projects_botresponses.html" class="text-decoration-none no-color-change">
        <div class="col">
          <div class="card">
            <img src="assets/img/botresponses_01.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs11 font-InterTight-SemiBold">Chatbot Responses</h5>
              <p class="card-text fs09 font-InterTight-Light">Diversifying female conversational agent’s response
                strategies against human user’s sexual harassment</p>
              <p class="card-text fs09 grey font-InterTight-Light">2022 - Present</p>
            </div>
          </div>
        </div>
      </a>

      <a href="/projects_divrsity.html" class="text-decoration-none no-color-change">
        <div class="col">
          <div class="card">
            <img src="assets/img/divrsity_01.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs11 font-InterTight-SemiBold">DiVRsity 🔵</h5>
              <p class="card-text fs09 font-InterTight-Light">Designing a multiplayer role-playing experience in VR for
                diversity awareness education</p>
              <p class="card-text fs09 grey font-InterTight-Light">2022</p>
            </div>
          </div>
        </div>
      </a>

      <a href="/projects_narebot.html" class="text-decoration-none no-color-change">
        <div class="col">
          <div class="card">
            <img src="assets/img/narebot_00.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs11 font-InterTight-SemiBold">NAReBot 🔵</h5>
              <p class="card-text fs09 font-InterTight-Light">A chatbot for informing real-time voting results of the
                national general election</p>
              <p class="card-text fs09 grey font-InterTight-Light">2020</p>
            </div>
          </div>
        </div>
      </a>

      <a href="/projects_vfaces.html" class="text-decoration-none no-color-change">
        <div class="col">
          <div class="card">
            <img src="assets/img/vfaces_01.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs11 font-InterTight-SemiBold">Virtual Faces</h5>
              <p class="card-text fs09 font-InterTight-Light">Investigating human perception of virtual character faces
              </p>
              <p class="card-text fs09 grey font-InterTight-Light">2020 - 2021</p>
            </div>
          </div>
        </div>
      </a>

    </div>



    <div class="row g-5 mb-5">
      <div>
        <h4 class="font-InterTight-SemiBold pb-2 mt-5">🖼️ Design and Photography </h4>
        <h6 class="font-InterTight-Light fs10 border-bottom pb-3"> Projects from my undergraduate days </h6>
      </div>

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <p class="font-InterTight-SemiBold">[UX Design] Virtual Sweets: VR Kit for a Healthier Life</p>
            </button>
          </h2>

          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">

            <div class="accordion-body">
              <img src="assets/img/uxd_01.png" width="100%">
              <p class="font-InterTight-Light fs09">- <i>Techno-Art Capstone Project</i>, Yonsei University. 2020.</p>

            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <p class="font-InterTight-SemiBold">[UX Design] Improving the Seoul City Bus Information System</p>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <img src="assets/img/uxd_02.png" width="100%">
              <p class="font-InterTight-Light fs09 mt-3">- <i>Interaction Design</i>, Yonsei University. 2019.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <p class="font-InterTight-SemiBold">[Visual Design] Typography, Grid Layout, and Visual System</p>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <img src="assets/img/visual_01.png" width="100%">
              <img src="assets/img/visual_02.png" width="100%">

              <p class="font-InterTight-Light fs09">- <i>Communicating with Type</i> and <i>Visual System</i>, Yonsei
                University.
                2019.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <p class="font-InterTight-SemiBold">[Photography] 2018 - 2019</p>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <img src="assets/img/photo_01.png" width="100%">
              <img src="assets/img/photo_02.png" width="100%">
              <img src="assets/img/photo_03.png" width="100%">
              <img src="assets/img/photo_04.png" width="100%">
              <img src="assets/img/photo_05.png" width="100%">
              <img src="assets/img/photo_06.png" width="100%">

              <p class="font-InterTight-Light fs09 mt-2">- <i>Photography Workshop</i> and <i>Photo and Books</i>,
                Yonsei
                University.
                2018 - 2019.</p>

            </div>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>