---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h4 class="font-InterTight-SemiBold pb-2">💬 Chatbot Responses</h4>
    <h6 class="font-InterTight-Light fs10 border-bottom pb-3 mb-4">Diversifying female conversational agent’s response
      strategies against human user’s sexual harassment</h6>

    <div class="row g-5 mb-5">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/botresponses_01.png" class="d-block w-100" alt="...">
        </div>
      </div>

      <div class="col-md-1">
        <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Role</h6>
      </div>
      <div class="col-md-11">
        <p class="fs10 font-InterTight-Light lh17 mb-15">Research lead with Professor Joonhwan Lee and Hajin Lim
          <br> HCI+D Lab, Seoul National University
          <br>Jan 2022 - Present
        </p>
      </div>

      <div class="col-md-1">
        <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Goal</h6>
      </div>
      <div class="col-md-11">
        <p class="fs10 font-InterTight-Light lh17 mb-15">- Exploring the design of female personified chatbot's
          responses to human users' sexual harassment </p>
      </div>

      <div class="col-md-1">
        <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Details</h6>
      </div>
      <div class="col-md-11">
        <p class="fs10 font-InterTight-Light lh17 mb-15">- Conducting questionnaires to analyze the effects of
          message appeals (e.g., normative, guilt, or fear appeals) against human users' sexual harassment to female
          personified chatbots
          <br>
          - Master's thesis in progress
        </p>
      </div>
    </div>
  </div>