---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h4 class="font-InterTight-SemiBold pb-2">👀 Virtual Faces</h4>
    <h6 class="font-InterTight-Light fs10 border-bottom pb-3 mb-4">Investigating human perception of virtual character
      faces</h6>

    <div class="row g-5 mb-5">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/vfaces_01.png" class="d-block w-100" alt="...">
        </div>
      </div>


      <div class="col-md-1">
        <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Role</h6>
      </div>
      <div class="col-md-11">
        <p class="fs10 font-InterTight-Light lh17 mb-15">Research assistant with Dr. Chaehan So <br> Yonsei University
          <br>Jul 2020 - Dec 2021
        </p>
      </div>

      <div class="col-md-1">
        <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Goal</h6>
      </div>
      <div class="col-md-11">
        <p class="fs10 font-InterTight-Light lh17 mb-15">- Investigating the effects of virtual characters' perceived
          age and viewing angles
          on trait perceptions (e.g., attractiveness, competence, likeability, approachability, and
          credibility)</p>
      </div>

      <div class="col-md-1">
        <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Details</h6>
      </div>
      <div class="col-md-11">
        <p class="fs10 font-InterTight-Light lh17 mb-15">- Led literature review about perception of virtual characters
          and
          viewing angles
          <br>- Created virtual character stimuli and deployed questionnaires via Amazon MTurk
          <br>- Two journal papers under review
        </p>
      </div>
    </div>
  </div>