---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h4 class="font-InterTight-SemiBold pb-2">📱 Mobile Shopping for Older Adults</h4>
    <h6 class="font-InterTight-Light fs10 border-bottom pb-3 mb-4">Co-designing with older adults to improve their
      mobile
      shopping experiences</h6>

    <div class="row g-5 mb-5">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/mshopping_01.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/mshopping_02.png" class="d-block w-100" alt="...">
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


      <div class="col-md-1">
        <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Role</h6>
      </div>
      <div class="col-md-11">
        <p class="fs10 font-InterTight-Light lh17 mb-15">Research lead with Professor Joonhwan Lee and Hajin Lim
          <br> Collaborators: Sung Min Park, Jiyeon Seo, Ha Yeon Lee, Yujin Hong, Yoobin Park, Esther Kim, Youjung Kim
          <br> HCI+D Lab with <i>Naver</i> (a leading search engine in South
          Korea) <br>Feb - Oct 2022
        </p>
      </div>

      <div class="col-md-1">
        <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Goals</h6>
      </div>
      <div class="col-md-11">
        <p class="fs10 font-InterTight-Light lh17 mb-15">- Understanding older adults and their mobile
          shopping experiences <br>
          - Establishing design guidelines for m-commerce apps </p>
      </div>

      <div class="col-md-1">
        <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Details</h6>
      </div>
      <div class="col-md-11">
        <p class="fs10 font-InterTight-Light lh17 mb-15">
          - Conducted heuristic evaluation of Naver app’s shopping features, interviews, think-aloud activities, card
          sorting, and co-design workshops with older adults <br>
          - Led qualitative analysis of the results, identified pain points, and created user personas, journey map, and
          design guidelines
        </p>
      </div>
    </div>
  </div>