---
layout: default
---

<div class="row g-5 mb-5">
  <div>
    <h4 class="font-InterTight-SemiBold pb-2">📘 Research Experiences</h4>
    <h6 class="font-InterTight-Light fs10 border-bottom pb-3"> 🔵 Human-Centered Design, 🟡 Health Informatics, 🟢
      Social Media </h6>
    <div class="row g-5 mb-5">
    </div>

    <div class="row row-cols-2 row-cols-md-3 g-3 mt-5">
      <a href="projects_medref.html" class="text-decoration-none no-color-change">
        <div class="col">
          <div class="card">
            <img src="assets/img/update in progress-02.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs11 font-InterTight-SemiBold">Medical Referrals 🔵 🟡</h5>
              <p class="card-text fs09 font-InterTight-Light">Supporting clinicians with writing referrals by draft
                generation and clinical summarization of patient medical history</p>
              <p class="card-text fs09 grey font-InterTight-Light">2021 - Present</p>
            </div>
          </div>
        </div>
      </a>

      <a href="/projects_clubhouse.html" class="text-decoration-none no-color-change">
        <div class="col">
          <div class="card">
            <img src="assets/img/update in progress-02.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs11 font-InterTight-SemiBold">Let’s Talk @Clubhouse 🔵 🟢 </h5>
              <p class="card-text fs09 font-InterTight-Light">Exploring voice-centered social media platform and its
                opportunities, challenges, and design guidelines <br> (CHI '22 LBW)</p>
              <p class="card-text fs09 grey font-InterTight-Light">2021</p>
            </div>
          </div>
        </div>
      </a>

      <a href="/projects_mshopping.html" class="text-decoration-none no-color-change">
        <div class="col">
          <div class="card">
            <img src="assets/img/update in progress-02.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs11 font-InterTight-SemiBold">Mobile Shopping for Older Adults 🔵 </h5>
              <p class="card-text fs09 font-InterTight-Light">Co-designing with older adults to improve their mobile
                shopping experiences</p>
              <p class="card-text fs09 grey font-InterTight-Light">2022</p>
            </div>
          </div>
        </div>
      </a>

      <a href="/projects_botresponses.html" class="text-decoration-none no-color-change">
        <div class="col">
          <div class="card">
            <img src="assets/img/update in progress-02.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs11 font-InterTight-SemiBold">Chatbot Responses</h5>
              <p class="card-text fs09 font-InterTight-Light">Diversifying female conversational agent’s response
                strategies against human user’s sexual harassment</p>
              <p class="card-text fs09 grey font-InterTight-Light">2022 - Present</p>
            </div>
          </div>
        </div>
      </a>

      <a href="/projects_divrsity.html" class="text-decoration-none no-color-change">
        <div class="col">
          <div class="card">
            <img src="assets/img/update in progress-02.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs11 font-InterTight-SemiBold">DiVRsity 🔵</h5>
              <p class="card-text fs09 font-InterTight-Light">Designing a multiplayer role-playing experience in VR for
                diversity awareness education</p>
              <p class="card-text fs09 grey font-InterTight-Light">2022</p>
            </div>
          </div>
        </div>
      </a>

      <a href="/projects_narebot.html" class="text-decoration-none no-color-change">
        <div class="col">
          <div class="card">
            <img src="assets/img/update in progress-02.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs11 font-InterTight-SemiBold">NAReBot 🔵</h5>
              <p class="card-text fs09 font-InterTight-Light">A chatbot for informing real-time voting results of the
                national general election</p>
              <p class="card-text fs09 grey font-InterTight-Light">2020</p>
            </div>
          </div>
        </div>
      </a>

      <a href="/projects_vfaces.html" class="text-decoration-none no-color-change">
        <div class="col">
          <div class="card">
            <img src="assets/img/update in progress-02.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title fs11 font-InterTight-SemiBold">Virtual Faces</h5>
              <p class="card-text fs09 font-InterTight-Light">Investigating human perception of virtual character faces
              </p>
              <p class="card-text fs09 grey font-InterTight-Light">2020 - 2021</p>
            </div>
          </div>
        </div>
      </a>

    </div>



    <div class="row g-5 mb-5">
      <div>
        <h4 class="font-InterTight-SemiBold pb-2 mt-5">🖼️ Art, Design, and Photography </h4>
        <h6 class="font-InterTight-Light fs10 border-bottom pb-3 mb-5"> Projects from my undergraduate days </h6>
      </div>


    </div>
  </div>
</div>