---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h4 class="font-InterTight-SemiBold pb-2">🌏 DiVRsity</h4>
    <h6 class="font-InterTight-Light fs10 border-bottom pb-3 mb-4">Designing a multiplayer role-playing experience in VR
      for
      diversity awareness education</h6>

    <style>
      .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
      }

      .embed-container iframe,
      .embed-container object,
      .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
    <div class='embed-container'><iframe src='https://www.youtube.com/embed//G7dOg9cG6OI' frameborder='0'
        allowfullscreen></iframe></div>
  </div>


  <div class="col-md-1">
    <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Role</h6>
  </div>
  <div class="col-md-11">
    <p class="fs10 font-InterTight-Light lh17 mb-15">Research lead with Professor Joonhwan Lee and Hajin Lim
      <br> Collaborators: Yewon Jin, Sunyul Lee, Jiyeon Seo, Seo Hyeong Kim
      <br> HCI+D Lab, Seoul National University <br>Jun - Aug 2022
    </p>
  </div>

  <div class="col-md-1">
    <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Goal</h6>
  </div>
  <div class="col-md-11">
    <p class="fs10 font-InterTight-Light lh17 mb-15">Creating a VR role-playing experience that can promote
      diversity awareness to freshmen </p>
  </div>

  <div class="col-md-1">
    <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Details</h6>
  </div>
  <div class="col-md-11">
    <p class="fs10 font-InterTight-Light lh17 mb-15">- Funded by the Liberal Arts program at Seoul National
      University
      <br>- Led interviews with disability stakeholders to simulate real-life cases of social exclusions on campus
      <br>- Designed the UI/UX of an Unity-VR prototype
    </p>
  </div>
</div>
</div>