---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h4 class="font-InterTight-SemiBold pb-2">👋 Let's Talk @Clubhouse</h4>
    <h6 class="font-InterTight-Light fs10 border-bottom pb-3 mb-4">Exploring voice-centered social media platform and
      its
      opportunities, challenges, and design guidelines</h6>

    <div class="row g-5 mb-5">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/clubhouse_01.png" class="d-block w-100" alt="...">
        </div>
      </div>


      <div class="col-md-1">
        <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Role</h6>
      </div>
      <div class="col-md-11">
        <p class="fs10 font-InterTight-Light lh17 mb-15">Research lead with Dr. Joonhwan Lee <br> Human-Computer
          Interaction+Design Lab, Seoul National University <br>Mar - Nov 2021
        </p>
      </div>

      <div class="col-md-1">
        <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Goal</h6>
      </div>
      <div class="col-md-11">
        <p class="fs10 font-InterTight-Light lh17 mb-15">- Exploring in-app experiences inside Clubhouse, a
          voice-centered
          social media service </p>
      </div>

      <div class="col-md-1">
        <h6 class="fs10 font-InterTight-SemiBold lh17 mb-15">Details</h6>
      </div>
      <div class="col-md-11">
        <p class="fs10 font-InterTight-Light lh17 mb-15">- Led interviews with 26 Clubhouse users</p>
        <br>
        <p class="fs10 font-InterTight-Light lh17 mb-15">- CHI ’22 Late-Breaking Work (<b
            class="font-InterTight-SemiBold">Jung K.</b>, Park, Y., Kim, H., and Lee,
          J.)</p>
        <br>
        <a href="/publications/2022 - Jung et al. - Let's Talk @Clubhouse Exploring Voice-Centered Social Media Platform and its Opportunities, Challenges, and Design.pdf"
          class="text-decoration-none">&nbsp;&nbsp;[pdf]</b></a>
        <a href="https://dl.acm.org/doi/abs/10.1145/3491101.3519774" class="text-decoration-none">[link]</b></a>
        </p>
      </div>
    </div>
  </div>
</div>