---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h4 class="font-Switzer-SemiBold border-bottom pb-3 mb-5 fs17">Publications</h4>
    <div class="row g-5 mb-5">

      <div class="col-md-2">
        <h5 class="font-Switzer-SemiBold">Journal</h5>
      </div>
      <div class="col-md-10">
        <p class="font-Switzer-Regular">So, C., <b class="font-Switzer-Bold">Jung, K.</b> (2023).
          Approachability and Credibility of Virtual Character Faces: The Role of the Horizontal Viewing Angle. Human
          Factors, 0(0). https://doi.org/10.1177/00187208231153492</p>
        <a
          href="https://journals.sagepub.com/doi/pdf/10.1177/00187208231153492?casa_token=9i7L2iyPRR8AAAAA:hRcjVgBQ5d-8b3S3RsFcWGWkxwGbg9F1BUaPsnjLD-Ex6z-tfkMHwcrq8d5tgGxdYChqILy4QT9k2sY">[pdf]</a>
        <a href="https://journals.sagepub.com/doi/abs/10.1177/00187208231153492">[link]</a>
        <br>
      </div>

      <div class="col-md-2">
        <h5 class="font-Switzer-SemiBold">Conferences</h5>
      </div>
      <div class="col-md-10">
        <p class="font-Switzer-Regular">Eun, J., <b class="font-Switzer-Bold">Jung K.</b>, Park, Y., Kim, H., Lee,
          E. Y., Kim, J. Y., Choi, J., Kim, K., Min, J., Lee, J. <i>(paper to be submitted)</i> “TL;DR. Think
          Like a DR.”: A Co-Design Approach to Developing an EMR-Driven Medical Referral Draft System for Clinicians of
          Chronic Gout Patients.)</p>
      </div>

      <div class="col-md-2">
        <h5 class="font-Switzer-SemiBold">Posters</h5>
      </div>
      <div class="col-md-10">
        <p class="font-Switzer-Regular"><b class="font-Switzer-Bold">Jung, K.</b>, Park, Y., Kim, H., and Lee, J.
          (2022, April). Let’s Talk @Clubhouse: Exploring Voice-Centered Social Media Platform and its Opportunities,
          Challenges, and Design Guidelines. In <i>CHI Conference on Human Factors in Computing Systems Extended
            Abstracts</i> (pp. 1-6).</p>
        <a
          href="/publications/2022 - Jung et al. - Let's Talk @Clubhouse Exploring Voice-Centered Social Media Platform and its Opportunities, Challenges, and Design.pdf">[pdf]</a>
        <a href="https://dl.acm.org/doi/abs/10.1145/3491101.3519774">[link]</a>
        </p>
        <br>
      </div>


    </div>
  </div>
</div>