---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h4 class="font-InterTight-SemiBold border-bottom pb-3 mb-5">📄 Publications</h4>
    <div class="row g-5 mb-5">

      <div class="col-md-2">
        <h5 class="font-InterTight-SemiBold">Journal</h5>
      </div>
      <div class="col-md-10">
        <p class="font-InterTight-Light">So, C., <b class="font-InterTight-Bold">Jung, K.</b> <i>(under review at
            Behaviour & Information Technology)</i> How Face Age Influences the Trait Inference of Virtual Characters’
          Attractiveness, Competence and Likeability.</p>
        <br>
        <p class="font-InterTight-Light">So, C., <b class="font-InterTight-Bold">Jung, K.</b> <i>(under review at Human
            Factors)</i> Approachability and Credibility of Virtual Character Faces: The Role of the Horizontal Viewing
          Angle.</p>
      </div>

      <div class="col-md-2">
        <h5 class="font-InterTight-SemiBold">Conferences</h5>
      </div>
      <div class="col-md-10">
        <p class="font-InterTight-Light">Eun, J., <b class="font-InterTight-Bold">Jung K.</b>, Park, Y., Kim, H., Lee,
          E. Y., Kim, J. Y., Choi, J., Kim, K., Min, J., Lee, J. <i>(paper to be submitted)</i> “TL;DR. Think
          Like a DR.”: A Co-Design Approach to Developing an EMR-Driven Medical Referral Draft System for Clinicians of
          Chronic Gout Patients.)</p>
      </div>

      <div class="col-md-2">
        <h5 class="font-InterTight-SemiBold">Posters</h5>
      </div>
      <div class="col-md-10">
        <p class="font-InterTight-Light"><b class="font-InterTight-Bold">Jung, K.</b>, Park, Y., Kim, H., and Lee, J.
          (2022, April). Let’s Talk @Clubhouse: Exploring Voice-Centered Social Media Platform and its Opportunities,
          Challenges, and Design Guidelines. In <i>CHI Conference on Human Factors in Computing Systems Extended
            Abstracts</i> (pp. 1-6).</p>
        <a
          href="/publications/2022 - Jung et al. - Let's Talk @Clubhouse Exploring Voice-Centered Social Media Platform and its Opportunities, Challenges, and Design.pdf">[pdf]</b></a>
        <a href="https://dl.acm.org/doi/abs/10.1145/3491101.3519774">[link]</b></a>
        </p>
        <br>
      </div>


    </div>
  </div>
</div>